# Google Sheets Configuration
# The ID of your Google Sheet (found in the URL)
GOOGLE_SHEET_ID=1eIeRGEw1LBdz3uS5czBBPlQu8RwuvNl0tVmS3eb7do4

# The JSON key of your Google Service Account
# Format: {"type": "service_account", "project_id": ...}
GOOGLE_SERVICE_ACCOUNT_JSON=
