# Google Sheets Configuration
# The ID of your Google Sheet (found in the URL)
GOOGLE_SHEET_ID=1E8R6_OG9JAB7oS96Tn1JImSGQuEiXEyxyOl3tR-pXWM

# The JSON key of your Google Service Account
# Format: {"type": "service_account", "project_id": ...}
GOOGLE_SERVICE_ACCOUNT_JSON=
